* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 1.5rem;
  font-weight: 300;
}

img {
  max-width: 100%;
  min-height: 28.563rem;
  border-radius: 0.313rem 0 0 0.313rem;
  border-right: 1px solid #ccc;
}

header {
  text-align: center;
  background-color: #fff;
}

section {
  background: #ccc url("https://snap-photos.s3.amazonaws.com/img-thumbs/960w/TZLR12L2TL.jpg") no-repeat center;
  background-size: cover;
  padding: 3.781rem 0;
}

.card {
  background-color: #fff;
  max-width: 43.75rem;
  display: flex;
  margin: 0 auto;
  height: 28.563rem;
  box-shadow: 0.25rem 0.25rem 1.188rem -0.25rem rgba(0, 0, 0, 0.75);
  border-radius: 0.313rem;
}

.card .photo {
  min-width: 45%;
}

.content {
  padding: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .control {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.content .control .right a {
  cursor: pointer;
}

.content .control .tweet-info {
  display: flex;
}

.content .control .tweet-info i[class^="ion-social"] {
  margin-right: 0.938rem;
  display: inline-block;
}

.tool {
  position: relative;
  transition: all .35s;
}

.tool::before, .tool::after {
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.tool:hover::before, .tool:hover::after {
  opacity: 1;
  z-index: 100;
  transition: all .35s;
}

.tool::before {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #3E474F;
  content: "";
  top: 100%;
  margin-left: 5px;
}

.tool::after {
  background: #3E474F;
  content: attr(data-tip);
  font-size: 16px;
  font-family: 'Lora';
  top: 115%;
  width: 17.5em;
  margin-left: -60px;
  color: #fff;
  padding: 1rem;
  padding-right: .2rem;
  border-radius: .25em;
}

.author {
  display: flex;
  flex-direction: column;
}

.author .reference {
  font-size: 0.688rem;
  margin-bottom: 0.313rem;
}

.author .person {
  font-weight: 800;
  text-transform: uppercase;
  color: #a42e39;
}

blockquote {
  margin: 0;
  line-height: 1.4;
  font-family: 'Lora';
}
