<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Random Quote Generator
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800|Lora:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
  link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
  link(rel="stylesheet", href="css/main.css")
body
  header
    h1 Random Quote Generator
  section
    .card
      .photo
        img(src="http://images.amcnetworks.com/amc.com/wp-content/uploads/2015/04/cast_bb_700x1000_walter-white-lg.jpg", alt="")
      .content
        .control
          .tweet-info
            .tweet-button
              a(href="#")
                i.ion-social-twitter-outline
            .information    
              a(href="#")  
                i.ion-ios-information-outline
          .right
            a(href="#")
              i.ion-ios-arrow-thin-right
        .quote
          .author
            span.reference Breaking Bad
            span.person Walter White
          blockquote
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis error minus esse molestias consectetur, repellendus iste necessitatibus atque quod amet excepturi veritatis, nam similique ad optio, tempore perferendis facere ipsa?
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")          
  script(src="js/app.js")
  
  
